/* CSS DA PÁGINA PRODUTOS */
body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background-color: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 120px;
	right: 0; 
}

nav li{
	display: inline;
	margin-left: 15px;
}

nav a{
	text-transform: uppercase;
	text-decoration: none; 
	color: #000000;
	font-weight: bold;
	font-size: 22px;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 50px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #1E803A;
}

.produtos li:hover h2 {
	font-size: 35px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.descricao {
	font-size: 18px;
}

.preco {
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("image/produtos/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	margin-top: 20px;
}

/* CSS DA PÁGINA CONTATOS */
#geral-contato {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}

.input-padrao {
	display: block;
	margin-bottom: 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
	
}

thead {
	background: #CCCCCC;
	color: black;
	font-weight: bold;
}

table td, th {
	border: 2px solid #000000;
	padding: 4px 10px;
	text-align: center;
}

footer {
	text-align: center;
	background: url("image/produtos/bg.jpg");
	padding: 40px 0;
}

/* CSS DA PÁGINA INICIAL */
.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 1em 0;
	clear: left; /*Usado para limpar o float*/
}

.principal {
	margin-bottom: 1em;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin-bottom: 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 130px;
	float: left;
	margin: 0 20px;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin-bottom: 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: linear-gradient(#888888, #FEFEFE);
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5em;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "★";
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 500ms;
	box-shadow: 10px 10px 10px 0 #000000;
}
/* Transformar visivel ao passar mouse*/
.imagem-beneficios:hover {
	opacity: 0.3;
}

.video {
	width: 560px;
	margin: 2em auto;
}

/* Adaptação para despostivios device */

@media screen and (max-width: 480px) {
	.caxixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
}